@font-face {
    font-family: 'poppins';
    src: url('Poppins-LightItalic.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

#bg-video, #main-video {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1;
}

#main-video {
    display: none;
    z-index: 0;
}

#bg-video {
    animation: slideUp 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.play-button {
    font-size: 100px;
    background: none;
    border: none;
    color: #f193d2;
    cursor: pointer;
    text-shadow: 0 0 20px black;
    text-align: center;
    opacity: 0;
    transform: scale(0.5);
    animation: popIn 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-delay: 0.35s;
}

.play-button:hover {
    transform: scale(1.1);
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#end-screen {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#end-screen img {
    width: 200%;
    max-height: 200%;
    
    animation: popIn 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

#clock-widget {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    align-items: center;
    gap: 15px;
    z-index: 200;
    cursor: default;
    transition: transform 0.3s ease;
    font-family: 'Your Font Here', Arial, sans-serif; /* change this */
}

#clock-widget:hover {
    transform: scaleY(1.2);
}

#clock-icon {
    font-size: 80px; /* change this for icon size */
}

#clock-time {
    font-size: 60px; /* change this for text size */
    color: #f193d2;
    font-family: 'poppins' sans-serif; /* change this */
}